body {
    font-family: 'Arial', sans-serif;
    background: url('obraz.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
}

h1 {
    text-align: center;
    color: #5a5a5a;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input[type="date"] {
    width: auto;
    padding: 10px;
}

textarea {
    height: 80px;
}

button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start;
}

button:hover {
    background-color: #0056b3;
}

.tasks {
    display: flex;
    justify-content: space-between;
}

.task-section {
    width: 48%;
}

h2 {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-details {
    flex-grow: 1;
}

.todo-buttons {
    display: flex;
    gap: 10px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

.edit-btn, .complete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.edit-btn {
    background-color: #ffc107;
    color: #fff;
}

.complete-btn {
    background-color: #28a745;
    color: #fff;
}

.edit-btn:hover {
    background-color: #e0a800;
}

.complete-btn:hover {
    background-color: #218838;
}
